/* Created by: Brayden MacMillan
* Created on: May 10, 2022
* This CSS file defines the style for index2..php
* ICS2O-Assign-04-PHP-FoodOrder
*/

.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: #e3a5d8;
  font-family: times new roman;
}

h5 {
  color: teal;
  font-family: times new roman;
}

h3 {
  background-color: mistyrose;
  font-family: times new roman;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

h1 {
  font-family: Garamond, Times New Roman, serif;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #a32424, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }